# 한국인의 삶_2019_2023 비교

In [ ]:
# 2019년 코드 (셀 1)
import pandas as pd
import numpy as np
import seaborn as sns
import pyreadstat as py
import plotly.express as px
import matplotlib as mpl
import matplotlib.lines as mlines


# 2023년 코드 (셀 1)
import pandas as pd
import numpy as np
import seaborn as sns
import pyreadstat as py

import matplotlib.pyplot as plt

plt.rcParams.update({'font.family' : "Malgun Gothic"})

In [ ]:
# 2019년 코드 (셀 2)
# 데이터 불러오기
raw_welfare_2019 =pd.read_spss('D:/KNY_data/data/Koweps_hpwc14_2019_beta2.sav')

# 복사본 만들기
welfare_2019 =raw_welfare_2019.copy()
welfare_2019.head()

# 2023년 코드 (셀 2)
# 데이터 불러오기
raw_welfare_2023 =pd.read_spss('D:/KNY_data/과제/2023 data/Koweps_hpda18_2023_beta1.sav')

# 복사본 만들기
welfare_2023 =raw_welfare_2023.copy()
welfare_2023.head()

In [ ]:
# 2019년 코드 (셀 3)
# 데이터 검토
# welfare_2019 # 앞부분, 뒷부분 확인
#welfare_2019.shape # 행,열의 갯수
#welfare_2019.info() # 열의 속성
#welfare_2019.describe() #요약 통계
#welfare_2019.head()

# 2023년 코드 (셀 3)
# 데이터 검토
# welfare_2023 # 앞부분, 뒷부분 확인
#welfare_2023.shape # 행,열의 갯수
#welfare_2023.info() # 열의 속성
#welfare_2023.describe() #요약 통계
#welfare_2023.head()

In [ ]:
# 2019년 코드 (셀 4)
# 분석에 필요한 열을 결정/ 열이름 변경
welfare_2019 =welfare_2019.rename(
    columns={'h14_g3'    : 'sex19',            #성별
             'h14_g4'    : 'birth19',          #태어난 년도
             'h14_g10'   : 'marriage_type19',  #혼인 상태
             'h14_g11'   : 'religion19',       #종교
             'p1402_8aq1': 'income19',         #월급
             'h14_eco9'  : 'code_job19',       #직업코드
             'h14_reg7'  : 'code_region19'})   #지역 코드

# 2023년 코드 (셀 4)
# 분석에 필요한 열을 결정/ 열이름 변경
welfare_2023 =welfare_2023.rename(
    columns={'h18_g3'    : 'sex23',            #성별
             'h18_g4'    : 'birth23',          #태어난 년도
             'h18_g10'   : 'marriage_type23',  #혼인 상태
             'h18_g11'   : 'religion23',       #종교
             'p1802_8aq1': 'income23',         #월급
             'h18_eco9'  : 'code_job23',       #직업코드
             'h18_reg7'  : 'code_region23'})   #지역 코드

In [ ]:
# 2019년 코드 (셀 5)
# 성별 변수 검토 및 전처리
print(welfare_2019['sex19'].dtype) # 타입 출력

# 2023년 코드 (셀 5)
# 성별 변수 검토 및 전처리
print(welfare_2023['sex23'].dtype) # 타입 출력

In [ ]:
# 2019년 코드 (셀 6)
print(welfare_2019['sex19'].value_counts()) #빈도수

# 2023년 코드 (셀 6)
print(welfare_2023['sex23'].value_counts()) #빈도수

In [ ]:
# 2019년 코드 (셀 7)
# 이상치 결측 처리
welfare_2019['sex19'] =np.where(welfare_2019['sex19'] ==9, np.nan, welfare_2019['sex19'])

# 결측 확인 #loc<< 이거 행 변경 기억하기.
welfare_2019['sex19'].isna().sum()

# 2023년 코드 (셀 7)
# 이상치 결측 처리
welfare_2023['sex23'] =np.where(welfare_2023['sex23'] ==9, np.nan, welfare_2023['sex23'])

# 결측 확인 #loc<< 이거 행 변경 기억하기.
welfare_2023['sex23'].isna().sum()

In [ ]:
# 2019년 코드 (셀 8)
# 성별 항목 이름 부여
welfare_2019['sex19']= np.where(welfare_2019['sex19'] == 1, 'male','female')

#빈도구하기
print(welfare_2019['sex19'].value_counts())

# 2023년 코드 (셀 8)
# 성별 항목 이름 부여
welfare_2023['sex23']= np.where(welfare_2023['sex23'] == 1, 'male','female')

#빈도구하기
print(welfare_2023['sex23'].value_counts())

In [ ]:
# 2019년 코드 (셀 9)
# 빈도 막대 그래프 # seaborn을 쓰고있다는것 map plot을 안쓰고있고
sns.countplot(data =welfare_2019, x='sex19')

In [ ]:

# 2023년 코드 (셀 9)
# 빈도 막대 그래프 # seaborn을 쓰고있다는것 map plot을 안쓰고있고
sns.countplot(data =welfare_2023, x='sex23')

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 예시 데이터프레임 (데이터 로드 필요)
# welfare_2019 = pd.read_csv('welfare_2019.csv')  # 2019년 데이터 로드
# welfare_2023 = pd.read_csv('welfare_2023.csv')  # 2023년 데이터 로드

# 2019년 성별 데이터 처리
count_2019 = welfare_2019['sex19'].value_counts().reset_index()
count_2019.columns = ['Sex', 'Count']
count_2019['Year'] = '2019'

# 2023년 성별 데이터 처리
count_2023 = welfare_2023['sex23'].value_counts().reset_index()
count_2023.columns = ['Sex', 'Count']
count_2023['Year'] = '2023'

# 두 데이터프레임 병합
comparison_df = pd.concat([count_2019, count_2023], ignore_index=True)

# 차트 생성
plt.figure(figsize=(10, 6))
sns.barplot(data=comparison_df, x='Year', y='Count', hue='Sex', palette='pastel')

# 차트 제목 및 레이블 설정
plt.title('2019년과 2023년의 남여 인원 비교')
plt.xlabel('년도')
plt.ylabel('명수')

# 차트 표시
plt.show()

In [ ]:
# 2019년 코드 (셀 10)
# 월급 # 변수 타입 출력
print(welfare_2019['income19'].dtype)

# 2023년 코드 (셀 10)
# 월급 # 변수 타입 출력
print(welfare_2023['income23'].dtype)

In [ ]:
# 2019년 코드 (셀 11)
sns.histplot(data=welfare_2019, x='income19')

In [ ]:

# 2023년 코드 (셀 11)
sns.histplot(data=welfare_2023, x='income23')

In [ ]:

# # 일반 박스플롯 그래프
# # welfare_2019 = pd.read_csv('welfare_2019.csv')  # 2019년 데이터 로드
# # welfare_2023 = pd.read_csv('welfare_2023.csv')  # 2023년 데이터 로드

# # 2019년 수입 데이터 처리
# income_2019 = welfare_2019['2019_income'].dropna()
# income_2019_df = pd.DataFrame({
#     'Income': income_2019,
#     'Year': '2019'
# })

# # 2023년 수입 데이터 처리
# income_2023 = welfare_2023['2023_income'].dropna()
# income_2023_df = pd.DataFrame({
#     'Income': income_2023,
#     'Year': '2023'
# })

# # 두 데이터프레임 병합
# comparison_df = pd.concat([income_2019_df, income_2023_df], ignore_index=True)

# # 상자 그래프 생성
# plt.figure(figsize=(12, 8))
# sns.boxplot(data=comparison_df, x='Year', y='Income', palette='pastel')

# # 차트 제목 및 레이블 설정
# plt.title('Income Distribution Comparison for 2019 and 2023')
# plt.xlabel('Year')
# plt.ylabel('Income')

# # 차트 표시
# plt.show()

In [ ]:
# 2019년 수입 데이터 처리
income_2019 = welfare_2019['income19'].dropna()
income_2019_df = pd.DataFrame({
    'Income': income_2019,
    'Year': '2019'
})

# 2023년 수입 데이터 처리
income_2023 = welfare_2023['income23'].dropna()
income_2023_df = pd.DataFrame({
    'Income': income_2023,
    'Year': '2023'
})

# 두 데이터프레임 병합
comparison_df = pd.concat([income_2019_df, income_2023_df], ignore_index=True)

# 상자 그래프 생성
plt.figure(figsize=(12, 8))
ax = sns.boxplot(data=comparison_df, x='Year', y='Income', palette='pastel')

# 중앙값, 최대값, 최소값 계산
stats = comparison_df.groupby('Year')['Income'].agg(['median', 'max', 'min']).reset_index()

# 데이터 테이블 생성
table_data = []
for _, row in stats.iterrows():
    table_data.append([row['Year'], row['median'], row['max'], row['min']])

# 데이터 테이블 추가
table = plt.table(cellText=table_data,
                  colLabels=['Year', 'Median', 'Max', 'Min'],
                  cellLoc='center',
                  loc='upper center',
                  bbox=[0.15, -0.2, 0.7, 0.15])  # 위치 조정

# 차트 제목 및 레이블 설정
plt.title('2019년과 2023년의 평균임금 분포 비교', fontsize = 25)
plt.xlabel('년도', fontsize = 15)
plt.ylabel('평균임금', fontsize = 15)

# 그래프 레이아웃 조정
plt.tight_layout()

# 차트 표시
plt.show()

In [ ]:
# 2019년 수입 데이터 처리
income_2019 = welfare_2019['income19'].dropna()
income_2019_df = pd.DataFrame({
    'Income': income_2019,
    'Year': '2019'
})

# 2023년 수입 데이터 처리
income_2023 = welfare_2023['income23'].dropna()
income_2023_df = pd.DataFrame({
    'Income': income_2023,
    'Year': '2023'
})

# 두 데이터프레임 병합
comparison_df = pd.concat([income_2019_df, income_2023_df], ignore_index=True)

# 상자 그래프 생성
plt.figure(figsize=(12, 8))
ax = sns.boxplot(data=comparison_df, x='Year', y='Income', palette='pastel')

# 중앙값, 최대값, 최소값 및 Q1, Q3, IQR 계산
for year in comparison_df['Year'].unique():
    data = comparison_df[comparison_df['Year'] == year]['Income']
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    median = data.median()
    mean = data.mean()
    min = row['min']
    max = Q3 + 1.5 * IQR
    
    # 값 표시
    ax.text(year, median, f'Median: {median:.2f}', color='black', ha='center', va='bottom', fontsize=10, weight='bold')
    ax.text(year, mean, f'Mean: {mean:.2f}', color='red', ha='center', va='bottom', fontsize=10, weight='bold')

    ax.text(year, min, f'Min: {min:.2f}', color='black', ha='center', va='bottom', fontsize=10, weight='bold')
    ax.text(year, max, f'Max (Adj.): {max:.2f}', color='black', ha='center', va='bottom', fontsize=10, weight='bold')

# 차트 제목 및 레이블 설정
plt.title('2019년과 2023년의 평균임금 분포 비교', fontsize = 25)
plt.xlabel('년도', fontsize = 15)
plt.ylabel('평균임금', fontsize = 15)

# 그래프의 그리드 선 추가
ax.grid(True, linestyle='--', alpha=0.7)

# 그래프 표시
plt.show()

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(14, 7))

# 2019년 데이터의 바이올렛 플롯 생성
sns.violinplot(data=welfare_2019, x="income19", ax=axes[0], color='skyblue')
axes[0].set_title("2019 Income")
axes[0].set_xlabel("2019 Income")
axes[0].set_ylabel("Density")
axes[0].grid(True, linestyle='--', alpha=0.7)  # 그리드선 추가

# 중앙값 계산 및 표시
median_2019 = welfare_2019['income19'].median()
axes[0].axvline(median_2019, color='red', linestyle='--', linewidth=2)
axes[0].text(median_2019, 0.02, f'Median: {median_2019:.2f}', color='red', 
             horizontalalignment='right', fontsize=10)

# 2023년 데이터의 바이올렛 플롯 생성
sns.violinplot(data=welfare_2023, x="income23", ax=axes[1], color='orange')
axes[1].set_title("2023 Income")
axes[1].set_xlabel("2023 Income")
axes[1].set_ylabel("Density")
axes[1].grid(True, linestyle='--', alpha=0.7)  # 그리드선 추가

# 중앙값 계산 및 표시
median_2023 = welfare_2023['income23'].median()
axes[1].axvline(median_2023, color='red', linestyle='--', linewidth=2)
axes[1].text(median_2023, 0.02, f'Median: {median_2023:.2f}', color='red', 
             horizontalalignment='right', fontsize=10)

# 그래프 레이아웃 조정 및 표시
plt.tight_layout()
plt.show()

In [ ]:
# 2019년 코드 (셀 12)
print(welfare_2019['income19'].describe()) #이상치확인

# 2023년 코드 (셀 12)
print(welfare_2023['income23'].describe()) #이상치확인

In [ ]:
# 2019년 코드 (셀 13)
print(welfare_2019['income19'].isna().sum()) # 결측지 확인

# 2023년 코드 (셀 13)
print(welfare_2023['income23'].isna().sum()) # 결측지 확인

In [ ]:
# 2019년 코드 (셀 14)
# 이상치 결측 처리
welfare_2019['income19'] =np.where(welfare_2019['income19'] == 9999, np.nan,welfare_2019['income19'])
# 결측치 확인
print(welfare_2019['income19'].isna().sum())

# 2023년 코드 (셀 14)
# 이상치 결측 처리
welfare_2023['income23'] =np.where(welfare_2023['income23'] == 9999, np.nan,welfare_2023['income23'])
# 결측치 확인
print(welfare_2023['income23'].isna().sum())

In [ ]:
# 2019년 코드 (셀 15)
# 성별 월급 평균
sex_income =welfare_2019.dropna(subset=['income19']) \
                   .groupby('sex19',as_index=False) \
                   .agg(mean_income = ('income19', 'mean'))  
sex_income

In [ ]:

# 2023년 코드 (셀 15)
# 성별 월급 평균
sex_income =welfare_2023.dropna(subset=['income23']) \
                   .groupby('sex23',as_index=False) \
                   .agg(mean_income = ('income23', 'mean'))  
sex_income

In [ ]:

# # 2023년 코드 (셀 15)
# # 성별 월급 평균
# # sex_income =welfare_2023.dropna(subset=['income23']) \
#                    .groupby('2023_sex',as_index=False) \
#                    .agg(mean_income = ('income23', 'mean'))  
# sex_income

In [ ]:
# 2023년 코드 (셀 16)
sns.barplot(data=sex_income, x= 'sex23', y='mean_income')

In [ ]:

# 2019년 코드 (셀 16)
# sns.barplot(data=sex_income, x='2019_sex', y='mean_income')

Comparison of Average Income by Gender in 2019 and 2023

In [ ]:
# 2019년 성별별 평균 수입 계산
mean_income_2019 = welfare_2019.groupby('sex19')['income19'].mean().reset_index()
mean_income_2019.columns = ['Sex', 'Mean_Income']
mean_income_2019['Year'] = '2019'

# 2023년 성별별 평균 수입 계산
mean_income_2023 = welfare_2023.groupby('sex23')['income23'].mean().reset_index()
mean_income_2023.columns = ['Sex', 'Mean_Income']
mean_income_2023['Year'] = '2023'

# 두 데이터프레임 병합
comparison_df = pd.concat([mean_income_2019, mean_income_2023], ignore_index=True)

# 차트 생성
plt.figure(figsize=(10, 6))
sns.barplot(data=comparison_df, x='Year', y='Mean_Income', hue='Sex', palette='pastel')

# 차트 제목 및 레이블 설정
plt.title('년도별 성별에 따른 평균 임금 비교 2019 and 2023', fontsize= 20)
plt.xlabel('Year')
plt.ylabel('Mean Income')

# 차트 표시
plt.show()

2023년과 2019년도의 남/녀 평균 소득 차이
Comparison of Average Income by Gender in 2019 and 2023

In [ ]:
# 2019년 성별별 평균 수입 계산
mean_income_2019 = welfare_2019.groupby('sex19')['income19'].mean().reset_index()
mean_income_2019.columns = ['Sex', 'Mean_Income']
mean_income_2019['Year'] = '2019'

# 2023년 성별별 평균 수입 계산
mean_income_2023 = welfare_2023.groupby('sex23')['income23'].mean().reset_index()
mean_income_2023.columns = ['Sex', 'Mean_Income']
mean_income_2023['Year'] = '2023'

# 두 데이터프레임 병합
comparison_df = pd.concat([mean_income_2019, mean_income_2023], ignore_index=True)

# 차트 생성
plt.figure(figsize=(10, 6))
sns.barplot(data=comparison_df, x='Sex', y='Mean_Income', hue='Year', palette='pastel')

# 차트 제목 및 레이블 설정
plt.title('Comparison of Average Income by Gender in 2019 and 2023')
plt.xlabel('Year')
plt.ylabel('Mean Income')

# 차트 표시
plt.show()

In [ ]:
# 2019년 코드 (셀 17)
# 나이와 월급
print(welfare_2019['birth19'].dtype)

# 2023년 코드 (셀 17)
# 나이와 월급
print(welfare_2023['birth23'].dtype)

In [ ]:
# 2019년 코드 (셀 18)
# 요약 통계
print(welfare_2019['birth19'].describe)

# 2023년 코드 (셀 18)
# 요약 통계
welfare_2023['birth23'].describe()

In [ ]:
# 2019년 코드 (셀 19)
sns.histplot(data=welfare_2019, x= 'birth19')

In [ ]:

# 2023년 코드 (셀 19)
sns.histplot(data=welfare_2023, x= 'birth23')

In [ ]:
pip install --upgrade nbformat

In [ ]:
# 데이터 준비
welfare_2019['Year'] = '2019'
welfare_2023['Year'] = '2023'

# 필요한 열만 선택하고 열 이름을 일치시킵니다
data_2019 = welfare_2019[['birth19', 'Year']].rename(columns={'birth19': 'Birth_Year'})
data_2023 = welfare_2023[['birth23', 'Year']].rename(columns={'birth23': 'Birth_Year'})

# 두 데이터프레임 병합
combined_df = pd.concat([data_2019, data_2023], ignore_index=True)

# 히스토그램 생성
fig = px.histogram(combined_df, x='Birth_Year', color='Year', 
                   labels={'Birth_Year': 'Birth Year', 'Year': 'Year'},
                   title='Distribution of Birth Year in 2019 and 2023',
                   barmode='overlay')

# 차트 표시
fig.show()

In [ ]:
# 2019년 코드 (셀 20)
# 전처리
print(welfare_2019['birth19'].describe()) #이상치 확인

# 2023년 코드 (셀 20)
# 전처리
print(welfare_2023['birth23'].describe()) #이상치 확인

In [ ]:
# 2019년 코드 (셀 21)
#결측치 확인
print(welfare_2019['birth19'].isna().sum())

# 2023년 코드 (셀 21)
#결측치 확인
print(welfare_2023['birth23'].isna().sum())

In [ ]:
# 2019년 코드 (셀 22)
# 이상치 결측 처리
welfare_2019['birth19'] =np.where(welfare_2019['birth19'] == 9999, np.nan, welfare_2019['birth19'])
# 결측치 확인
print(welfare_2019['birth19'].isna().sum())

# 2023년 코드 (셀 22)
# 이상치 결측 처리
welfare_2023['birth23'] =np.where(welfare_2023['birth23'] == 9999, np.nan, welfare_2023['birth23'])
# 결측치 확인
print(welfare_2023['birth23'].isna().sum())

In [ ]:
# 2019년 코드 (셀 23)
# assign 삽입
welfare_2019 = welfare_2019.assign(age=2019 - welfare_2019['birth19'] + 1)
welfare_2019['age'].describe()

In [ ]:

# 2023년 코드 (셀 23)
# assign 삽입
welfare_2023=welfare_2023.assign(age= 2023 - welfare_2023['birth23'] + 1)
welfare_2023['age'].describe()

In [ ]:
# 2019년 코드 (셀 24)
sns.histplot(data=welfare_2019, x= 'age')

In [ ]:

# 2023년 코드 (셀 24)
sns.histplot(data=welfare_2023, x= 'age')

In [ ]:
# 폰트 설정
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False  # 음수 기호 제대로 표시

# 연령대별 빈도수 집계
age_dist_2019 = welfare_2019['age'].value_counts().reset_index()
age_dist_2019.columns = ['age', 'Count']
age_dist_2019['Year'] = '2019'

age_dist_2023 = welfare_2023['age'].value_counts().reset_index()
age_dist_2023.columns = ['age', 'Count']
age_dist_2023['Year'] = '2023'

# 두 데이터프레임 병합
age_dist_combined = pd.concat([age_dist_2019, age_dist_2023], ignore_index=True)

# 정렬된 연령대 리스트 (공통된 연령대를 기준으로 정렬)
age_order = sorted(age_dist_combined['age'].unique(), key=lambda x: int(x))

# 차트 생성
plt.figure(figsize=(14, 7))
sns.barplot(data=age_dist_combined, x='age', y='Count', hue='Year', palette='pastel', order=age_order)

# 차트 제목 및 레이블 설정
plt.title('2019년과 2023년 나이별 인구수')
plt.xlabel('나이')
plt.ylabel('명수')

# 차트 표시
plt.show()

In [ ]:
np.random.seed(0)
age = np.arange(20, 90)
mean_income_2019 = np.random.randint(100, 400, size=len(age))
mean_income_2023 = np.random.randint(150, 450, size=len(age))

data_2019 = pd.DataFrame({'age': age, 'mean_income': mean_income_2019})
data_2023 = pd.DataFrame({'age': age, 'mean_income': mean_income_2023})

# 두 개의 subplot 생성
fig, axes = plt.subplots(nrows=1, ncols=1, figsize=(10, 6))

# 각 subplot에 lineplot 그리기
sns.lineplot(data=data_2019, x='age', y='mean_income', ax=axes, label='2019')
sns.lineplot(data=data_2023, x='age', y='mean_income', ax=axes, label='2023')

# 그래프 제목, 축 레이블 설정
axes.set_title('연령대별 평균임금')
axes.set_xlabel('연령대')
axes.set_ylabel('평균임금')

# 범례 표시
plt.legend()

plt.show()

In [ ]:
# 2019년 코드 (셀 25)
#나이별 월급 평균
age_income_2019 = welfare_2019.dropna(subset=['income19']) \
                   .groupby('age') \
                   .agg(mean_income = ('income19','mean'))
age_income_2019

In [ ]:

# 2023년 코드 (셀 25)
#나이별 월급 평균
age_income_2023 =welfare_2023.dropna(subset=['income23']) \
                   .groupby('age') \
                   .agg(mean_income = ('income23','mean'))
age_income_2023

In [ ]:
# 2019년 코드 (셀 26)
sns.lineplot(data=age_income_2019, x='age' ,y='mean_income')

In [ ]:

# 2023년 코드 (셀 26)
sns.lineplot(data=age_income_2023, x='age' ,y='mean_income')

In [ ]:
# 2019년 코드 (셀 27)
# 연령대에 따른 임금 차이
# 초년층 : 30세미만
# 중년층 : 30~59세
# 노년층 : 60세 이상


# 나이 변수 확인
welfare_2019['age'].head()

In [ ]:

# 2023년 코드 (셀 27)
# 연령대에 따른 임금 차이
# 초년층 : 30세미만
# 중년층 : 30~59세
# 노년층 : 60세 이상


# 나이 변수 확인
welfare_2023['age'].head()

In [ ]:
# 2019년 코드 (셀 28)
welfare_2019 =welfare_2019.assign(ageg = np.where(welfare_2019['age'] <  30, 'young',
                               np.where(welfare_2019['age'] <= 59, 'middle','old')))

welfare_2019['ageg'].value_counts()

In [ ]:

# 2023년 코드 (셀 28)
welfare_2023 =welfare_2023.assign(ageg = np.where(welfare_2023['age'] <  30, 'young',
                               np.where(welfare_2023['age'] <= 59, 'middle','old')))

welfare_2023['ageg'].value_counts()

In [ ]:
# 2019년 코드 (셀 29)
# 빈도 그래프
sns.countplot(data=welfare_2019, x='ageg')

In [ ]:

# 2023년 코드 (셀 29)
# 빈도 그래프
sns.countplot(data=welfare_2023, x='ageg')

In [ ]:
# 2019년 코드 (셀 30)
# 연령대별로 월급차이
# 연령대별로 월급평균
ageg_income_2019 = welfare_2019.dropna(subset=['income19']) \
                    .groupby('ageg',as_index=False) \
                    .agg(mean_income=('income19','mean'))
ageg_income_2019

In [ ]:

# 2023년 코드 (셀 30)
# 연령대별로 월급차이
# 연령대별로 월급평균
ageg_income_2023 = welfare_2023.dropna(subset=['income23']) \
                    .groupby('ageg',as_index=False) \
                    .agg(mean_income=('income23','mean'))
ageg_income_2023

In [ ]:
# 2019년 코드 (셀 31)
# 시각화 -막대 그래프 #정렬전
sns.barplot(data=ageg_income_2019,x='ageg',y='mean_income',
            order=['young', 'middle','old'])

In [ ]:

# 2023년 코드 (셀 31)
# 시각화 -막대 그래프 #정렬전
sns.barplot(data=ageg_income_2023,x='ageg',y='mean_income',
            order=['young', 'middle','old'])

In [ ]:
# 2019년과 2023년 데이터 결합
ageg_income_2019['Year'] = '2019'
ageg_income_2023['Year'] = '2023'

# 데이터 결합
comparison_df = pd.concat([ageg_income_2019, ageg_income_2023], ignore_index=True)

# 차트 생성
plt.figure(figsize=(12, 6))
sns.barplot(data=comparison_df, x='ageg', y='mean_income', hue='Year', order=['young', 'middle', 'old'])

# 차트 제목 및 레이블 설정
plt.title('연도에 따른 연령 그룹별 평균임금 비교 2019 and 2023', fontsize = 25)
plt.xlabel('연령 그룹')
plt.ylabel('평균임금')

# 차트 표시
plt.show()

### 연령대 및 성별

In [ ]:
# 2019년 코드 (셀 33)
# 연령대 및 성별 평균
sex_income_2019 = welfare_2019.dropna(subset=['income19']) \
                    .groupby(['ageg','sex19'],as_index=False) \
                    .agg(mean_income=('income19','mean'))
sex_income_2019

In [ ]:

# 2023년 코드 (셀 33)
# 연령대 및 성별 평균
sex_income_2023 = welfare_2023.dropna(subset=['income23']) \
                    .groupby(['ageg','sex23'],as_index=False) \
                    .agg(mean_income=('income23','mean'))
sex_income_2023

In [ ]:
# 2019년 코드 (셀 34)
# 연령대 및 성별 월급 시각화 # hue <<이거 공부해
sns.barplot(data=sex_income_2019,x='ageg',y='mean_income', hue='sex19',
            order=['young', 'middle','old'])

In [ ]:

# 2023년 코드 (셀 34)
# 연령대 및 성별 월급 시각화 # hue <<이거 공부해
sns.barplot(data=sex_income_2023,x='ageg',y='mean_income', hue='sex23',
            order=['young', 'middle','old'])

In [ ]:
# 폰트 설정
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False  # 음수 기호 제대로 표시


# 2019년 성별별 평균 수입 집계
sex_income_2019_summary = sex_income_2019.groupby('sex19')['mean_income'].sum().reset_index()
sex_income_2019_summary.columns = ['Sex', 'Mean_Income']
sex_income_2019_summary['Year'] = '2019'

# 2023년 성별별 평균 수입 집계
sex_income_2023_summary = sex_income_2023.groupby('sex23')['mean_income'].sum().reset_index()
sex_income_2023_summary.columns = ['Sex', 'Mean_Income']
sex_income_2023_summary['Year'] = '2023'

# 두 데이터프레임 병합
comparison_df = pd.concat([sex_income_2019_summary, sex_income_2023_summary], ignore_index=True)

# 파이차트 생성
fig, axes = plt.subplots(1, 2, figsize=(20, 8))


# 2019년 파이차트
axes[0].pie(sex_income_2019_summary['Mean_Income'],
            labels=sex_income_2019_summary['Sex'],
            autopct='%1.1f%%',
            colors=['skyblue', 'pink'],  # 필요에 따라 색상 조정
            startangle=140, textprops={'fontsize': 20, 'fontweight':'bold'})
axes[0].set_title('2019년', fontsize=20)

# 2023년 파이차트
axes[1].pie(sex_income_2023_summary['Mean_Income'],
            labels=sex_income_2023_summary['Sex'],
            autopct='%1.1f%%',
            colors=['lightblue', 'lightpink'],  # 필요에 따라 색상 조정
            startangle=140, textprops={'fontsize': 20, 'fontweight':'bold'})
axes[1].set_title('2023년', fontsize=20)

# 전체 제목 및 그리드 추가
plt.suptitle('2019년과 2023년 성별에 따른 평균 임금', fontsize=25)
plt.grid(True)  # 그리드 추가

# 차트 표시
plt.show()

In [ ]:
# 2019년 코드 (셀 35)
#나이 및 성별 평균값
sex_age_2019 =welfare_2019.dropna(subset=['income19']) \
                .groupby(['age','sex19'],as_index=False) \
                .agg(mean_income=('income19','mean'))

sex_age_2019.head()

In [ ]:

# 2023년 코드 (셀 35)
#나이 및 성별 평균값
sex_age_2023 =welfare_2023.dropna(subset=['income23']) \
                .groupby(['age','sex23'],as_index=False) \
                .agg(mean_income=('income23','mean'))

sex_age_2023.head()

In [ ]:
# 2019년 코드 (셀 36)
# 성별 평균 급여 차이
sns.lineplot(data= sex_age_2019, x= 'age',y='mean_income',hue='sex19')

In [ ]:

# 2023년 코드 (셀 36)
# 성별 평균 급여 차이
sns.lineplot(data= sex_age_2023, x= 'age',y='mean_income',hue='sex23')

In [ ]:
# 2019년 데이터의 선 스타일을 점선으로 설정
sns.lineplot(data=sex_age_2019, x='age', y='mean_income', hue='sex19',
             linestyle='--', palette={'male': 'skyblue', 'female': 'violet'}, legend=False)

# 2023년 데이터의 선 스타일을 실선으로 설정
sns.lineplot(data=sex_age_2023, x='age', y='mean_income', hue='sex23',
             linestyle='-', palette={'male': 'blue', 'female': 'red'}, legend=False)

# 범례 핸들 생성
legend_handles = [
    mlines.Line2D([], [], color='skyblue', linestyle='--', label='2019 male'),
    mlines.Line2D([], [], color='violet', linestyle='--', label='2019 female'),
    mlines.Line2D([], [], color='blue', linestyle='-', label='2023 male'),
    mlines.Line2D([], [], color='red', linestyle='-', label='2023 female')
]

# 범례 추가
plt.legend(handles=legend_handles, title='범례', loc='upper left', bbox_to_anchor=(1.05, 1))

# 그래프 제목 및 레이블 설정
plt.title('성별에 따른 2019년 대비 2023년 평균수입변화', fontsize = 20)
plt.xlabel('나이')
plt.ylabel('평균수입')

# 그래프 표시
plt.show()

### 직업별 월급차이

In [ ]:
# 2019년 코드 (셀 38)
#직업 열 속성
welfare_2019['code_job19'].dtype

In [ ]:

# 2023년 코드 (셀 38)
#직업 열 속성
welfare_2023['code_job23'].dtype

In [ ]:
# 2019년 코드 (셀 39)
# 잡코드 빈도 수
print(welfare_2019['code_job19'].value_counts)

# 2023년 코드 (셀 39)
# 잡코드 빈도 수
print(welfare_2023['code_job23'].value_counts)

In [ ]:
# 2019년 코드 (셀 40)
# 잡코드의 직종 # 엑셀안 시트를 불러오는 코드
list_job_2019= pd.read_excel("D:/KNY_data/과제/Koweps_Codebook_2019.xlsx",sheet_name='직종코드')
list_job_2019.head()

In [ ]:
list_job_2019 = list_job_2019.rename(columns={'code_job': 'code_job19'})
list_job_2019.head()

In [ ]:

# 2023년 코드 (셀 40)
# 잡코드의 직종 # 엑셀안 시트를 불러오는 코드
list_job_2023= pd.read_excel("D:/KNY_data/과제/2023 data/Koweps_Codebook_2023.xlsx",sheet_name='직종코드')
list_job_2023 = list_job_2023.rename(columns={'code_job': 'code_job23'})
list_job_2023.head()

In [ ]:
# 2019년 코드 (셀 41)
list_job_2019.shape # 직업군 종류

In [ ]:

# 2023년 코드 (셀 41)
list_job_2023.shape # 직업군 종류

In [ ]:
# 2019년 코드 (셀 42)
# welfare_2019 에  list_job 결합하기
welfare_2019 = welfare_2019.merge(list_job_2019, how='left', on='code_job19')

In [ ]:

# 2023년 코드 (셀 42)
# welfare_2023 에  list_job 결합하기
welfare_2023 = welfare_2023.merge(list_job_2023,how='left',on= 'code_job23')

In [ ]:
# 2019년 코드 (셀 43)
# code_job 결측지 제거하고 code_job , job 출력
welfare_2019.dropna(subset=['code_job19'])[['code_job19','job']].head()

In [ ]:

# 2023년 코드 (셀 43)
# code_job 결측지 제거하고 code_job , job 출력
welfare_2023.dropna(subset=['code_job23'])[['code_job23','job']].head()

In [ ]:
# 2019년 코드 (셀 44)
# 직업별 월급 평균
# 1.job ,income 결측지 제거
# 2.job 분리
# 3.income 평균
job_income_2019 = welfare_2019.dropna(subset=['code_job19','income19']) \
                    .groupby('job', as_index=False) \
                    .agg(mean_income = ('income19','mean'))
job_income_2019.head()

In [ ]:

# 2023년 코드 (셀 44)
# 직업별 월급 평균
# 1.job ,income 결측지 제거
# 2.job 분리
# 3.income 평균
job_income_2023 = welfare_2023.dropna(subset=['income23','income23']) \
                    .groupby('job', as_index=False) \
                    .agg(mean_income = ('income23','mean'))
job_income_2023.head()

In [ ]:
# 2019년 코드 (셀 45)
# 상위 10위 추출
top10_2019 = job_income_2019.sort_values('mean_income',ascending=False).head(10)
top10_2019

In [ ]:

# 2023년 코드 (셀 45)
# 상위 10위 추출
top10_2023 = job_income_2023.sort_values('mean_income',ascending=False).head(10)
top10_2023

In [ ]:
# 2019년 코드 (셀 46)
import matplotlib.pyplot as plt
plt.rcParams.update({'font.family' : "Malgun Gothic"})

# 2023년 코드 (셀 46)
import matplotlib.pyplot as plt
plt.rcParams.update({'font.family' : "Malgun Gothic"})

In [ ]:
# 2019년 코드 (셀 47)
# 위에 데이터 내용을 시각화
sns.barplot(data= top10_2019, y='job',x='mean_income' )

In [ ]:

# 2023년 코드 (셀 47)
# 위에 데이터 내용을 시각화
sns.barplot(data= top10_2023, y='job',x='mean_income' )

In [ ]:

# 데이터 준비 (예시로 top10_2019와 top10_2023 데이터프레임이 있다고 가정)
top10_2019['year'] = 2019
top10_2023['year'] = 2023

# 두 데이터프레임을 하나로 결합
combined_data = pd.concat([top10_2023, top10_2019])

# 색상 설정
palette = {2023: '#4158A6', 2019: '#FF8343'}

# 시각화
plt.figure(figsize=(12, 10))
sns.barplot(data=combined_data, y='job', x='mean_income', hue='year', palette=palette)

# 그래프 타이틀과 레이블 설정
plt.title('2019년과 2023년의 평균임금 상위 10개 직업군', fontsize = 25)
plt.xlabel('평균임금', fontsize = 15)
plt.ylabel('직업군', fontsize = 15)

# 범례 위치 조정
plt.legend(title='Year')

plt.show()

In [ ]:
# 2019년 코드 (셀 48)
# 하위 10위 추출
bottom10_2019 =job_income_2019.sort_values('mean_income').head(10)
bottom10_2019

In [ ]:

# 2023년 코드 (셀 48)
# 하위 10위 추출
bottom10_2023 =job_income_2023.sort_values('mean_income').head(10)
bottom10_2023

In [ ]:
# 2019년 코드 (셀 49)
sns.barplot(data= bottom10_2019, y='job',x='mean_income').set(xlim= (0,800))

In [ ]:

# 2023년 코드 (셀 49)
sns.barplot(data= bottom10_2023, y='job',x='mean_income').set(xlim= (0,800))

In [ ]:

# 데이터 준비 (예시로 top10_2019와 top10_2023 데이터프레임이 있다고 가정)
bottom10_2019['year'] = 2019
bottom10_2023['year'] = 2023

# 두 데이터프레임을 하나로 결합
combined_data = pd.concat([bottom10_2023, bottom10_2019])

# 색상 설정
palette = {2023: '#4158A6', 2019: '#FF8343'}

# 시각화
plt.figure(figsize=(12, 10))
sns.barplot(data=combined_data, y='job', x='mean_income', hue='year', palette=palette)

# 그래프 타이틀과 레이블 설정
plt.title('2019년과 2023년의 평균임금 하위 10개 직업군', fontsize = 25)
plt.xlabel('평균임금', fontsize = 15)
plt.ylabel('직업군', fontsize = 15)

# 범례 위치 조정
plt.legend(title='Year')

plt.show()

### 성별 직업 빈도

In [ ]:
print(welfare_2019.head)

In [ ]:
# # 남성 직업 빈도 상위 10개 추출
# # 1. 결측치 제거
# filtered_data = welfare_2019.dropna(subset=['job', 'sex19'])

# # 2. Boolean 인덱싱을 사용하여 성별이 'male'인 데이터 필터링
# filtered_data = filtered_data[filtered_data['sex19'] == 'male']

# # 3. 직업별 빈도 계산
# job_male_2019 = (
#     filtered_data
#     .groupby('job', as_index=False)
#     .agg(n=('job', 'count'))
#     .sort_values('n', ascending=False)
#     .head(10)
# )

# job_male_2019

In [ ]:
# 2019년 코드 (셀 51)
# 남성 직업 빈도 상위 10개 추출
# query 때문에 계속 에러가 나서 위에 있는 Boolean 인덱싱 사용
job_male_2019 = welfare_2019.dropna(subset= ['job']) \
                 .query('sex19 == "male"') \
                 .groupby('job', as_index=False) \
                 .agg(n = ('job','count')) \
                 .sort_values('n',ascending=False) \
                 .head(10)
job_male_2019

In [ ]:
# 2023 남성 직업 빈도 상위 10개 추출
# 1. 결측치 제거
filtered_data = welfare_2023.dropna(subset=['job', 'sex23'])

# 2. Boolean 인덱싱을 사용하여 성별이 'male'인 데이터 필터링
filtered_data = filtered_data[filtered_data['sex23'] == 'male']

# 3. 직업별 빈도 계산
job_male_2023 = (
    filtered_data
    .groupby('job', as_index=False)
    .agg(n=('job', 'count'))
    .sort_values('n', ascending=False)
    .head(10)
)

job_male_2023

In [ ]:
# 2023년 코드 (셀 51)
# 남성 직업 빈도 상위 10개 추출
# query 때문에 계속 에러가 나서 위에 있는 Boolean 인덱싱 사용
job_male_2023 =welfare_2023.dropna(subset= ['job']) \
                 .query('sex23 == "male"') \
                 .groupby('job', as_index=False) \
                 .agg(n = ('job','count')) \
                 .sort_values('n',ascending=False) \
                 .head(10)
job_male_2023

In [ ]:
# 2023, 2019 남성 직업 빈도 상위 10개 추출

job_male_2023, job_male_2019

In [ ]:
# # 2019년 코드 (셀 52)
job_Female_2019 =welfare_2019.dropna(subset= ['job']) \
                 .query('sex19 == "female"') \
                 .groupby('job', as_index=False) \
                 .agg(n = ('job','count')) \
                 .sort_values('n',ascending=False) \
                 .head(10)
job_Female_2019

In [ ]:
# 여성 직업 빈도 상위 10개 추출
# 1. 결측치 제거
filtered_data = welfare_2019.dropna(subset=['job', 'sex19'])

# 2. Boolean 인덱싱을 사용하여 성별이 'female'인 데이터 필터링
filtered_data = filtered_data[filtered_data['sex19'] == 'female']

# 3. 직업별 빈도 계산
job_Female_2019 = (
    filtered_data
    .groupby('job', as_index=False)
    .agg(n=('job', 'count'))
    .sort_values('n', ascending=False)
    .head(10)
)

job_Female_2019

In [ ]:

# # 2023년 코드 (셀 52)
job_Female_2023 =welfare_2023.dropna(subset= ['job']) \
                 .query('sex23 == "female"') \
                 .groupby('job', as_index=False) \
                 .agg(n = ('job','count')) \
                 .sort_values('n',ascending=False) \
                 .head(10)
job_Female_2023

In [ ]:
filtered_data = welfare_2023.dropna(subset=['job', 'sex23'])

# 2. Boolean 인덱싱을 사용하여 성별이 'female'인 데이터 필터링
filtered_data = filtered_data[filtered_data['sex23'] == 'female']

# 3. 직업별 빈도 계산
job_Female_2023 = (
    filtered_data
    .groupby('job', as_index=False)
    .agg(n=('job', 'count'))
    .sort_values('n', ascending=False)
    .head(10)
)

job_Female_2023

In [ ]:
print(welfare_2019.head())

In [ ]:
# 2019년 코드 (셀 53)
# 남성 직업 빈도 막대 그래프
sns.barplot(data= job_male_2019, y='job', x='n').set(xlim= (0,800))

In [ ]:

# 2023년 코드 (셀 53)
# 남성 직업 빈도 막대 그래프
sns.barplot(data= job_male_2023, y='job', x='n').set(xlim= (0,800))

In [ ]:
# 2019년 코드 (셀 54)
sns.barplot(data= job_Female_2019, y='job', x='n').set(xlim= (0,800))

In [ ]:

# 2023년 코드 (셀 54)
sns.barplot(data= job_Female_2023, y='job', x='n').set(xlim= (0,800))

In [ ]:
# 연도 정보 추가
job_Female_2019['year'] = 2019
job_Female_2023['year'] = 2023

# 데이터프레임 통합
combined_job_data = pd.concat([job_Female_2019, job_Female_2023])

# 색상 설정
palette = {2023: '#4158A6', 2019: '#FF8343'}

# 시각화
plt.figure(figsize=(12, 8))
sns.barplot(data=combined_job_data, y='job', x='n', hue='year', palette=palette)

# x축 범위 설정
plt.xlim(0, 900)  # x축 범위는 데이터에 맞게 조정합니다.

# 그래프 제목과 레이블 설정
plt.title('여성 직업 빈도 상위 10개 (2019년 vs 2023년)', fontsize=25)
plt.xlabel('빈도수', fontsize=15)
plt.ylabel('직업', fontsize=15)

# 범례 표시
plt.legend(title='Year')

# 차트 표시
plt.show()

### 종교 유무에 따른 이혼율

In [ ]:
# 타입확인
print(welfare_2023['religion23'].dtype)
print(welfare_2019['religion19'].dtype)

In [ ]:
#빈도수
print(welfare_2023['religion23'].value_counts())
print(welfare_2019['religion19'].value_counts())

In [ ]:
#2023
# 전처리 - 1 : 있음, 2 : 없음, 9: 모름/무응답 
# 종교 유무 이름 부여 
welfare_2023['religion23'] = np.where(welfare_2023['religion23'] == 1, 'Yes', 'No')

# 빈도구하기
print(welfare_2023['religion23'].value_counts())


#2019
# 전처리 - 1 : 있음, 2 : 없음, 9: 모름/무응답 
# 종교 유무 이름 부여 
welfare_2019['religion19'] = np.where(welfare_2019['religion19'] == 1, 'Yes', 'No')

# 빈도구하기
print(welfare_2019['religion19'].value_counts())

In [ ]:
# 시각화
sns.countplot(data=welfare_2023, x='religion23')

sns.countplot(data=welfare_2019, x='religion19')

In [ ]:
# 혼인 상태 여부
welfare_2023['marriage_type23'].dtype
welfare_2019['marriage_type19'].dtype

In [ ]:
# 항목별 빈도수
welfare_2023['marriage_type23'].value_counts()
welfare_2019['marriage_type19'].value_counts()

In [ ]:
# 이혼여부 
# 0.비해당(18세 미만) 1.유배우  2.사별  3.이혼   4.별거 
# 5.미혼(18세이상, 미혼모 포함)   6.기타(사망 등)
# => 1 : marriage, 3: divorce, - 그외: etc 

welfare_2023['marriage23'] = np.where(welfare_2023['marriage_type23'] == 1, 'marriage', 
                      np.where(welfare_2023['marriage_type23'] == 3, 'divorce', 'etc'))

welfare_2019['marriage19'] = np.where(welfare_2019['marriage_type19'] == 1, 'marriage', 
                      np.where(welfare_2019['marriage_type19'] == 3, 'divorce', 'etc'))

In [ ]:
# 이혼 여부 별 빈도
n_divorce = welfare_2023.groupby('marriage23', as_index=False) \
                   .agg(n = ('marriage23', 'count'))
n_divorce

n_divorce19 = welfare_2019.groupby('marriage19', as_index=False) \
                   .agg(n = ('marriage19', 'count'))
n_divorce19

In [ ]:
sns.barplot(data= n_divorce, x= 'marriage23', y= 'n')
sns.barplot(data= n_divorce19, x= 'marriage19', y= 'n')

In [ ]:
# 연도별 데이터를 결합하기 위해 year 열 추가
n_divorce['year'] = 2023
n_divorce19['year'] = 2019

# 두 데이터프레임을 결합
combined_data = pd.concat([
    n_divorce.rename(columns={'marriage23': 'marriage'}),
    n_divorce19.rename(columns={'marriage19': 'marriage'})
])

In [ ]:
# 그래프 그리기
sns.barplot(data=combined_data, x='marriage', y='n', hue='year', palette='pastel',
            order= ['divorce', 'marriage', 'etc'])

# 차트 제목 및 레이블 설정
plt.title('2019년과 2023년의 혼인상태', fontsize =20)
plt.xlabel('혼인 상태')
plt.ylabel('n')

plt.show()

In [ ]:
# 그래프 그리기
ax = sns.barplot(data=combined_data, x='marriage', y='n', hue='year', palette='pastel',
                 order=['divorce', 'marriage', 'etc'])

# 차트 제목 및 레이블 설정
plt.title('연도별 혼인상태 변화', fontsize=20)
plt.xlabel('혼인 상태')
plt.ylabel('n')

# 막대에 숫자 표시
for p in ax.patches:
    height = p.get_height()
    ax.annotate(f'{height:.0f}', 
                (p.get_x() + p.get_width() / 2., height),
                ha='center', va='center',
                fontsize=10, color='black',
                xytext=(0, 5), textcoords='offset points')

plt.show()

In [ ]:
# 종교 유무에 따른 이혼율 분석 
# etc 제외 
# religion별 분리 
# marriage 추출 
# 비율 구하기 
rel_dev = welfare_2023.query('marriage23 != "etc"') \
                 .groupby('religion23', as_index=False) \
                 ['marriage23'] \
                 .value_counts(normalize=True)

print(rel_dev)

rel_dev19 = welfare_2019.query('marriage19 != "etc"') \
                 .groupby('religion19', as_index=False) \
                 ['marriage19'] \
                 .value_counts(normalize=True)

print(rel_dev19)

In [ ]:
# 전처리 
# divorce 추출 
# 이혼에 해당하는 값만 추출 후 proportion을 백분율로 바꾸고 
# 소수점 첫째자리까지 반올림 

rel_dev = rel_dev.query('marriage23 == "divorce"') \
                 .assign(proportion = rel_dev['proportion'] * 100) \
                 .round(1)
print(rel_dev)
print()

rel_dev19 = rel_dev19.query('marriage19 == "divorce"') \
                 .assign(proportion = rel_dev19['proportion'] * 100) \
                 .round(1)
print(rel_dev19)

In [ ]:
# 2023년 데이터에 year 열 추가
rel_dev['year'] = 2023
rel_dev = rel_dev.rename(columns={'marriage23': 'marriage', 'religion23': 'religion'})

# 2019년 데이터에 year 열 추가
rel_dev19['year'] = 2019
rel_dev19 = rel_dev19.rename(columns={'marriage19': 'marriage', 'religion19': 'religion'})

# 두 데이터를 결합
combined_data = pd.concat([rel_dev, rel_dev19])

In [ ]:
# 그래프 그리기
sns.barplot(data=combined_data, x='religion', y='proportion', hue='year', palette='pastel')
plt.xlabel('종교')
plt.ylabel('이혼율 (%)')
plt.title('연도에 따른 종교별 이혼율', fontsize = 20)
plt.show()

In [ ]:
# 그래프 그리기
plt.figure(figsize=(10, 6))
ax = sns.barplot(data=combined_data, x='religion', y='proportion', hue='year', palette='pastel')

# 막대 위에 이혼율 값을 표시
for p in ax.patches:
    height = p.get_height()  # 막대의 높이 (이혼율)
    ax.text(
        p.get_x() + p.get_width() / 2,  # 막대의 x 좌표
        height + 0.1,  # y 좌표 (막대의 높이 위)
        f'{height:.1f}%',  # 표시할 텍스트 (이혼율 값)
        ha='center'  # 텍스트의 수평 정렬
    )

# 그래프 레이블 및 제목 설정
plt.xlabel('종교')
plt.ylabel('이혼율 (%)')
plt.title('종교별 이혼율', fontsize=20)
plt.show()

In [ ]:
# 연한 파랑과 연한 빨강 색상 정의
palette = ['lightblue', 'lightcoral']

# 그래프 그리기
plt.figure(figsize=(10, 6))
ax = sns.barplot(data=combined_data, x='year', y='proportion', hue='religion', palette=palette)

# 막대 위에 이혼율 값을 표시
for p in ax.patches:
    height = p.get_height()  # 막대의 높이 (이혼율)
    ax.text(
        p.get_x() + p.get_width() / 2,  # 막대의 x 좌표
        height + 0.1,  # y 좌표 (막대의 높이 위)
        f'{height:.1f}%',  # 표시할 텍스트 (이혼율 값)
        ha='center',  # 텍스트의 수평 정렬
        fontsize=10,  # 텍스트의 크기
        color='black'  # 텍스트 색상
    )

# 그래프 레이블 및 제목 설정
plt.xlabel('연도')
plt.ylabel('이혼율 (%)')
plt.title('연도에 따른 종교별 이혼율', fontsize=20)

# 범례 설정
plt.legend(title='종교', title_fontsize='13', fontsize='11')

plt.show()

### 연령대 및 종교 유무에 따른 이혼율 분석

In [ ]:
# 2019년 코드 (셀 69)
age_div19 =welfare_2019.query('marriage19 ! ="etc"') \
                .groupby('ageg',as_index=False) \
                ['marriage19'] \
                .value_counts(normalize=True)

print(age_div19)
print()

# 2023년 코드 (셀 69)
age_div23 =welfare_2023.query('marriage23 ! ="etc"') \
                .groupby('ageg',as_index=False) \
                ['marriage23'] \
                .value_counts(normalize=True)

print(age_div23)

In [ ]:
# 2019년 코드 (셀 70)
# 연령대 및 이혼 여부별 빈도
welfare_2019.query('marriage19 ! ="etc"') \
       .groupby('ageg',as_index=False) \
       ['marriage19'] \
       .value_counts()


# 2023년 코드 (셀 70)
# 연령대 및 이혼 여부별 빈도
welfare_2023.query('marriage23 ! ="etc"') \
       .groupby('ageg',as_index=False) \
       ['marriage23'] \
       .value_counts()

In [ ]:
# 2019년 코드 (셀 71)
# 연령대별 이혼율 그래프
#초년 제외, 이혼 추출
age_div19 = age_div19.query('ageg !="young" & marriage19 == "divorce"') \
                 .assign(proportion =age_div19['proportion']* 100) \
                 .round(1)

age_div19

# 2023년 코드 (셀 71)
# 연령대별 이혼율 그래프
#초년 제외, 이혼 추출
age_div23 = age_div23.query('ageg !="young" & marriage23 == "divorce"') \
                 .assign(proportion =age_div23['proportion']* 100) \
                 .round(1)

age_div23

In [ ]:
# 2019년 코드 (셀 72)
sns.barplot(data=age_div19,x='ageg',y='proportion')

# 2023년 코드 (셀 72)
sns.barplot(data=age_div23,x='ageg',y='proportion')

In [ ]:
# 2019년과 2023년 데이터를 결합
age_div19['Year'] = '2019'
age_div23['Year'] = '2023'

# 필요한 열만 선택하고 이름을 일치시킵니다
data_2019 = age_div19[['ageg', 'proportion', 'Year']]
data_2023 = age_div23[['ageg', 'proportion', 'Year']]

# 두 데이터프레임 병합
combined_age_div = pd.concat([data_2019, data_2023], ignore_index=True)

In [ ]:
# 그래프 그리기
plt.figure(figsize=(10, 6))
sns.barplot(data=combined_age_div, x='ageg', y='proportion', hue='Year', palette='pastel')

plt.xlabel('연령대')
plt.ylabel('이혼율 (%)')
plt.title('연령대별 이혼율', fontsize=20)
plt.legend(title='Year')
plt.xticks(rotation=45)  # X축 레이블 회전
plt.tight_layout()  # 그래프 요소들 간의 여백 조정
plt.show()

In [ ]:
# 2019년 코드 (셀 71)
# 연령대별 이혼율 그래프
#초년 제외, 이혼 추출
age_div19 = age_div19.query('ageg !="young"& marriage19 == "divorce"') \
                 .assign(proportion =age_div19['proportion']* 100) \
                 .round(1)

age_div19

# 2023년 코드 (셀 71)
# 연령대별 이혼율 그래프
#초년 제외, 이혼 추출
age_div23 = age_div23.query('ageg !="young"& marriage23 == "divorce"') \
                 .assign(proportion =age_div23['proportion']* 100) \
                 .round(1)

age_div23

In [ ]:
# 그래프 그리기
plt.figure(figsize=(10, 6))
ax = sns.barplot(data=combined_age_div, x='ageg', y='proportion', hue='Year', palette='pastel')

# 막대 위에 이혼율 값을 표시
for p in ax.patches:
    height = p.get_height()  # 막대의 높이 (이혼율)
    ax.text(
        p.get_x() + p.get_width() / 2,  # 막대의 x 좌표
        height + 0.1,  # y 좌표 (막대의 높이 위)
        f'{height:.1f}%',  # 표시할 텍스트 (이혼율 값)
        ha='center'  # 텍스트의 수평 정렬
    )

# 그래프 레이블 및 제목 설정
plt.xlabel('연령대', fontsize=15)
plt.ylabel('이혼율 (%)', fontsize=15)
plt.title('연령대별 이혼율', fontsize=20)
plt.legend(title='Year')
plt.xticks(rotation=45)  # X축 레이블 회전
plt.tight_layout()  # 그래프 요소들 간의 여백 조정
plt.show()

In [ ]:
# 연령대 및 종교 유무에 따른 이혼율 분석 (young 그룹에 대한 검토 포함)

# 2023년 종교 및 연령대별 이혼율
rel_age_div23 = welfare_2023.query('ageg !="young" & marriage23 != "etc"') \
                 .groupby(['religion23', 'ageg'], as_index=False) \
                 ['marriage23'] \
                 .value_counts(normalize=True)

rel_age_div23 = rel_age_div23.query('ageg !="young" & marriage23 == "divorce"') \
                             .assign(proportion = rel_age_div23['proportion'] * 100) \
                             .round(1)
rel_age_div23

In [ ]:
# 2019년 종교 및 연령대별 이혼율
rel_age_div19 = welfare_2019.query('ageg !="young" & marriage19 != "etc"') \
                 .groupby(['religion19', 'ageg'], as_index=False) \
                 ['marriage19'] \
                 .value_counts(normalize=True)

rel_age_div19 = rel_age_div19.query('ageg !="young" & marriage19 == "divorce"') \
                             .assign(proportion = rel_age_div19['proportion'] * 100) \
                             .round(1)
rel_age_div19

In [ ]:
# 데이터프레임 컬럼 이름 일치시키기
rel_age_div23 = rel_age_div23.rename(columns={'religion23': 'religion', 'marriage23': 'marriage', 'proportion': 'proportion23'})
rel_age_div19 = rel_age_div19.rename(columns={'religion19': 'religion', 'marriage19': 'marriage', 'proportion': 'proportion19'})

In [ ]:
# 두 데이터를 결합
combined_rel_age_div = pd.merge(rel_age_div23, rel_age_div19, on=['religion', 'ageg'], how='outer')
combined_rel_age_div = combined_rel_age_div.fillna(0)

In [ ]:
# 이혼율 변화 계산
combined_rel_age_div['proportion_diff'] = combined_rel_age_div['proportion23'] - combined_rel_age_div['proportion19']

In [ ]:

# 시각화 - 2023년 이혼율
plt.figure(figsize=(12, 6))
sns.barplot(data=combined_rel_age_div, x='ageg', y='proportion23', hue='religion', palette='pastel')
plt.xlabel('연령대')
plt.ylabel('이혼율 (%) - 2023')
plt.title('2023년 연령대 및 종교 유무에 따른 이혼율')
plt.legend(title='종교')
plt.show()

# 시각화 - 2019년 이혼율
plt.figure(figsize=(12, 6))
sns.barplot(data=combined_rel_age_div, x='ageg', y='proportion19', hue='religion', palette='pastel')
plt.xlabel('연령대')
plt.ylabel('이혼율 (%) - 2019')
plt.title('2019년 연령대 및 종교 유무에 따른 이혼율')
plt.legend(title='종교')
plt.show()

# 시각화 - 이혼율 변화
plt.figure(figsize=(12, 6))
sns.barplot(data=combined_rel_age_div, x='ageg', y='proportion_diff', hue='religion', palette='pastel')
plt.xlabel('연령대')
plt.ylabel('이혼율 변화 (%)')
plt.title('2019년과 2023년의 연령대 및 종교 유무에 따른 이혼율 변화')
plt.legend(title='종교')
plt.show()

In [ ]:
def add_value_labels(ax):
    """막대 위에 값 레이블 추가"""
    for p in ax.patches:
        height = p.get_height()  # 막대의 높이 (이혼율)
        ax.text(
            p.get_x() + p.get_width() / 2,  # 막대의 x 좌표
            height + 0.1,  # y 좌표 (막대의 높이 위)
            f'{height:.1f}%',  # 표시할 텍스트 (이혼율 값)
            ha='center',  # 텍스트의 수평 정렬
            fontsize=10,  # 텍스트의 크기
            color='black'  # 텍스트 색상
        )

# 시각화 - 2023년 이혼율
plt.figure(figsize=(12, 6))
ax1 = sns.barplot(data=combined_rel_age_div, x='ageg', y='proportion23', hue='religion', palette='pastel')
plt.xlabel('연령대')
plt.ylabel('이혼율 (%) - 2023')
plt.title('2023년 연령대 및 종교 유무에 따른 이혼율')
plt.legend(title='종교')
add_value_labels(ax1)  # 막대 위에 수치 추가
plt.show()

# 시각화 - 2019년 이혼율
plt.figure(figsize=(12, 6))
ax2 = sns.barplot(data=combined_rel_age_div, x='ageg', y='proportion19', hue='religion', palette='pastel')
plt.xlabel('연령대')
plt.ylabel('이혼율 (%) - 2019')
plt.title('2019년 연령대 및 종교 유무에 따른 이혼율')
plt.legend(title='종교')
add_value_labels(ax2)  # 막대 위에 수치 추가
plt.show()

# 시각화 - 이혼율 변화
plt.figure(figsize=(12, 6))
ax3 = sns.barplot(data=combined_rel_age_div, x='ageg', y='proportion_diff', hue='religion', palette='pastel')
plt.xlabel('연령대')
plt.ylabel('이혼율 변화 (%)')
plt.title('2019년과 2023년의 연령대 및 종교 유무에 따른 이혼율 변화')
plt.legend(title='종교')
add_value_labels(ax3)  # 막대 위에 수치 추가
plt.show()

### 지역별 연령대 비율

In [ ]:
# 2019년 코드 (셀 74)
# 전처리
welfare_2019['code_region19'].dtype

In [ ]:
# 2023년 코드 (셀 74)
# 전처리
welfare_2023['code_region23'].dtype

In [ ]:
# 2019년 코드 (셀 75)
welfare_2019['code_region19'].value_counts() #빈도수(지역)

In [ ]:
# 2023년 코드 (셀 75)
welfare_2023['code_region23'].value_counts() #빈도수(지역)

In [ ]:
# 2019년 코드 (셀 76)
# 지역코드 목록 만들기
list_region19 = pd.DataFrame({'code_region19': [1,2,3,4,5,6,7],
                            'region'     : ['서울',
                                            '수도권(인천/경기)',
                                            '부산/경남/울산',
                                            '대구/경북',
                                            '대전/충남',
                                            '강원/충북',
                                            '광주/전남/전북/제주도',
                                            ]})
list_region19

In [ ]:
# 2023년 코드 (셀 76)
# 지역코드 목록 만들기
list_region23 = pd.DataFrame({'code_region23': [1,2,3,4,5,6,7],
                            'region'     : ['서울',
                                            '수도권(인천/경기)',
                                            '부산/경남/울산',
                                            '대구/경북',
                                            '대전/충남',
                                            '강원/충북',
                                            '광주/전남/전북/제주도',
                                            ]})
list_region23

In [ ]:
# 2019년 코드 (셀 77)
welfare_2019 =welfare_2019.merge(list_region19, how='left', on='code_region19')

In [ ]:
# 2023년 코드 (셀 77)
welfare_2023 =welfare_2023.merge(list_region23, how='left', on='code_region23')

In [ ]:
# 2019년 코드 (셀 78)
welfare_2019[['code_region19','region']].head(10)

In [ ]:
# 2023년 코드 (셀 78)
welfare_2023[['code_region23','region']].head(10)

In [ ]:
# 2019년 코드 (셀 79)
#지역별 연령대 비율표
#1. region 별 분리
#2. ageg 추출
#3. 비율구하기
region_ageg19 =welfare_2019.groupby('region',as_index=False) \
                        ['ageg'] \
                        .value_counts(normalize=True)
region_ageg19

In [ ]:
# 2023년 코드 (셀 79)
#지역별 연령대 비율표
#1. region 별 분리
#2. ageg 추출
#3. 비율구하기
region_ageg23 =welfare_2023.groupby('region',as_index=False) \
                        ['ageg'] \
                        .value_counts(normalize=True)
region_ageg23

In [ ]:
# 2019년 코드 (셀 80)
# 시각화
sns.barplot(data= region_ageg19, y='region',x='proportion',hue='ageg')

In [ ]:
# 2023년 코드 (셀 80)
# 시각화
sns.barplot(data= region_ageg23, y='region',x='proportion',hue='ageg')

In [ ]:
# 노인,중년,초년생들 데이터
#이중축 백투백 그래프

# 지역별 데이터 입력 (실제 데이터로 대체 필요)
regions = ['강원/충북', '광주/전남/전북/제주도', '대구/경북', '대전/충남', '부산/경남/울산', '서울', '수도권(인천/경기)']

# 예시 인구 비율 데이터 (실제 데이터로 대체 필요)
# 2019년 데이터
proportion_2019_old = np.array([0.459103, 0.449311, 0.504051, 0.413372, 0.4375, 0.376124, 0.325015])
proportion_2019_middle = np.array([0.308707, 0.317924, 0.296296, 0.336449, 0.333742, 0.385115, 0.38817])
proportion_2019_young = np.array([0.23219, 0.232766, 0.199653, 0.25018, 0.228758, 0.238761, 0.286815])

# 2023년 데이터
proportion_2023_old = np.array([0.569639, 0.529391, 0.577309, 0.504147, 0.494349, 0.455922, 0.386776])
proportion_2023_middle = np.array([0.268239, 0.281043, 0.271240, 0.296801, 0.310609, 0.355868, 0.360670])
proportion_2023_young = np.array([0.162122, 0.189565, 0.151451, 0.199052, 0.195042, 0.188210, 0.252554])

# 백투백 그래프 생성
fig, ax = plt.subplots(3, 1, figsize=(12, 18))

# 'old' 연령대에 대한 백투백 그래프
ax[0].barh(regions, -proportion_2019_old, color='blue', alpha=0.3, label='2019 Old')
ax[0].barh(regions, proportion_2023_old, color='red', alpha=0.3, label='2023 Old')
ax[0].set_title('Old Age Group Proportion Comparison')
ax[0].set_xlabel('Proportion')
ax[0].legend()

# 'middle' 연령대에 대한 백투백 그래프
ax[1].barh(regions, -proportion_2019_middle, color='blue', alpha=0.7, label='2019 Middle')
ax[1].barh(regions, proportion_2023_middle, color='red', alpha=0.7, label='2023 Middle')
ax[1].set_title('Middle Age Group Proportion Comparison')
ax[1].set_xlabel('Proportion')
ax[1].legend()

# 'young' 연령대에 대한 백투백 그래프
ax[2].barh(regions, -proportion_2019_young, color='blue', alpha=0.5, label='2019 Young')
ax[2].barh(regions, proportion_2023_young, color='red', alpha=0.5, label='2023 Young')
ax[2].set_title('Young Age Group Proportion Comparison')
ax[2].set_xlabel('Proportion')
ax[2].legend()

# 중앙선 추가
for a in ax:
    a.axvline(0, color='black', linewidth=1)

plt.tight_layout()
plt.show()